<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GAMVI</title>
    <link rel="stylesheet" href="{% static 'css/emotion_record.css' %}">
</head>

<body>
    <img class="logo" src="{% static 'assets/images/gamvi_logo.png' %}">
    <div class="emotion-record">
        <h1>오늘의 감정을 기록하세요</h1>
        <div class="mirror"></div>
        <div class="emotion-btns">
            <button id="btn-heart">
                <img src="{% static 'assets/images/gamvi_heart.png' %}" onclick="location.href='/recording-voice'">
            </button>
            <button id="btn-excited">
                <img src="{% static 'assets/images/gamvi_excited.png' %}" onclick="location.href='/recording-voice'">
            </button>
            <button id="btn-soso">
                <img src="{% static 'assets/images/gamvi_soso.png' %}" onclick="location.href='/recording-voice'">
            </button>
            <button id="btn-blue">
                <img src="{% static 'assets/images/gamvi_blue.png' %}" onclick="location.href='/recording-voice'">
            </button>
            <button id="btn-sad">
                <img src="{% static 'assets/images/gamvi_sad.png' %}" onclick="location.href='/recording-voice'">
            </button>
            <button id="btn-angry">
                <img src="{% static 'assets/images/gamvi_angry.png' %}" onclick="location.href='/recording-voice'">
            </button>
        </div>
        <button id="btnBack" class="back-btn">
            <img src="{% static 'assets/images/back_btn.png' %}" onclick="history.back()">
        </button>
    </div>
</body>
</html>