<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAMBI</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="main">
        <div class="right">
            <h1>Calendar</h1>
        </div>

        <div class="left">
            <h2>당신의 감정 비타민,</h2>
            <img src="{% static 'assets/images/gamvi_logo.png' %}">
            <h1>오늘 하루를 기록해 보세요 :)</h1>
            <button>기록하기</button>
        </div>
    </div>
</body>
</html>