<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<div class="sec_cal">
    <div class="cal_nav">
        <a href="javascript:" class="nav-btn go-prev"><</a>
        <div class="year-month"></div>
        <a href="javascript:" class="nav-btn go-next">></a>
    </div>
    <div class="cal_wrap">
        <div class="days">
            <div class="day">SUN</div>
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
        </div>
        <div class="dates">

        </div>
    </div>
</div>
<script src="{% static 'js/calendar.js'%}"></script>
</body>
</html>