@font-face {
    font-family: "gmarket";
    src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

body {
    height: 100vh;
    background-image: url("../assets/images/gamvi_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "gmarket";
}

.logo {
    width: 20%;
    max-width: 180px;
}

.daily-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-show {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    width: 800px;
}

.detail,
.detail-graph {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-emotion img {
    width: 100px;
}

.home-btn {
    margin-left: 50px;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    background: none;
}

.home-btn img {
    width: 70px;
}