@font-face {
    font-family: "gmarket";
    src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

body {
    height: 100vh;
    background-image: url("../assets/images/gamvi_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "gmarket";
}

.logo {
    width: 20%;
    max-width: 180px;
}

.daily-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77%;
}

.detail-show {
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    height: 85%;
    width: 90%;
    font-size: 20px;
}

.detail {
    width: 63%;
    margin-right: 2%;
    flex-direction: column;
    align-items: center;
    float: left;
    height: 100%;
    vertical-align: center;
}

.detail-graph {
    width: 30%;
    margin-left: 5%;
    float: left;
    flex-direction: column;
    height: 100%;
    vertical-align: center;
}

.detail-emotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}

.detail-diary {
    text-align: center;
    letter-spacing: 0.5px;
    height: 77%;
    margin-left: 3%;
}

.detail-emotion img {
    width: 100px;
}

.home-btn {
    margin-left: 50px;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    background: none;
}

.home-btn img {
    width: 70px;
}