@font-face {
    font-family: "gmarket";
    src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

body {
    height: 90vh;
    background-image: url("../assets/images/gamvi_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "gmarket";
}

.emotion-record {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 20%;
    max-width: 180px;
}

.mirror {
    width: 650px;
    height: 330px;
    background-color: black;
}

button {
    border: none;
    background: none;
}

.emotion-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emotion-btns img {
    margin-top: 20px;
    width: 60%;
}