@font-face {
    font-family: "gmarket";
    src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
    font-family: "nanum";
    src: url("../assets/fonts/NanumDaheng.ttf") format("truetype");
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    height: 100vh;
    background-image: url("../assets/images/gamvi_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "gmarket";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left .sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: 'nanum';
}

.left .sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 78px;
}

.left .sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.left .sec_cal .cal_wrap {
    padding-top: 10px;
    position: relative;
    margin: 0 auto;
}

.left .sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.left .sec_cal .cal_wrap::after {
    top: 368px;
}

.left .sec_cal .cal_wrap .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #000000;
    font-size: 25px;
    text-align: center;
    border-radius: 5px
}

.left .current.today {
    background: rgb(242 242 242);
}

.left .sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.left .sec_cal .cal_wrap .day:nth-child(7n +1) {
    color: #ed2a61;
}

.left .sec_cal .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.left .sec_cal .cal_wrap .day.disable {
    visibility: hidden;
    /*color: #ddd;*/
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right img {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.start-btn {
    margin-right: 30px;
    margin-bottom: 30px;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.start-btn img {
    width: 60%;
}