@font-face {
    font-family: "gmarket";
    src: url("../assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    height: 100vh;
    background-image: url("../assets/images/gamvi_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "gmarket";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left .sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: 'nanum';
}

.left .sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 55px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
    font-weight: 400;
    font-size: 45px;
}

.sec_cal .cal_nav .year-month .year {
    font-size: 20px;
}

.left .sec_cal .cal_wrap {
    padding-top: 10px;
    position: relative;
    margin: 0 auto;
}

.left .sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.left .sec_cal .cal_wrap .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #000000;
    font-size: 20px;
    text-align: center;
    border-radius: 5px
}

.left .current {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left .current.angry {
    background: url(../../static/assets/images/gamvi_angry.png);
    background-size: cover;
}

.left .current.soso {
    background: url(../../static/assets/images/gamvi_soso.png);
    background-size: cover;
}

.left .current.sad {
    background: url(../../static/assets/images/gamvi_sad.png);
    background-size: cover;
}

.left .current.excited {
    background: url(../../static/assets/images/gamvi_excited.png);
    background-size: cover;
}

.left .current.heart {
    background: url(../../static/assets/images/gamvi_heart.png);
    background-size: cover;
}

.left .current.blue {
    background: url(../../static/assets/images/gamvi_blue.png);
    background-size: cover;
}

/*.left .current.today {*/
/*    background-color: #dddddd;*/
/*}*/

.left .sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.left .sec_cal .cal_wrap .day:nth-child(7n + 1) {
    color: #ed2a61;
}

.left .sec_cal .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.left .sec_cal .cal_wrap .day.disable {
    visibility: hidden;
    /*color: #ddd;*/
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right img {
    width: 50%;
    height: 50%;
}